.g-container {
	max-width: 1200px;
	margin: 0 auto;
}

.g-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.g-col {
	flex-basis: 100%;

	@include media-query('small') {
		flex: 1;
	}
}
