.g-container {
	max-width: 1200px;
	margin: 0 auto;
}

.g-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.g-col {
	flex-basis: 100%;
}

@media screen and (min-width: 800px) {
	.g-col {
		flex: 1;
	}
}
